# .gitignore

# Игнорируем виртуальное окружение
/venv/
/.venv/

# Игнорируем файлы кэша Python
__pycache__/
*.pyc

# Игнорируем файл с секретными данными
.env

# Игнорируем базу данных
*.db
*.db-journal*
bot_database.db

# Игнорируем папки IDE
.vscode/
.idea/